.logo {
    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__icon,
    &__title {
        display: block;
    }
    &__icon {
        max-width: 40px;
        max-height: 40px;
    }
}