<div class="init">
    <div class="init__button">
        <button class="init__sign-in">Войти</button>
        <button class="init__register">Регистраия</button>
        <button class="init__user"></button>
    </div>
</div>