<div class="init">
    <div class="init__button">
        <button class="init__sign-in btn">Войти</button>
        <button class="init__register btn">Регистраия</button>
        <button class="init__user"></button>
    </div>
</div>