<div class="menu">
<!-- ===================================================== -->
    <%- include("./burger") %>
<!-- ===================================================== -->
    <nav class="menu__body">
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" href="#">
                    О нас
                </a>
            </li>
            <li class="menu__item">
                <a class="menu__link _arrow" href="#">
                    Услуги
                </a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">
                    Вакансии
                </a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">
                    Новости
                </a>
            </li>
            <li class="menu__item">
                <a class="menu__link _arrow" href="#">
                    Соглашения
                </a>
            </li>
        </ul>
    </nav>
</div>