html,
body {
	font-family: "Montserrat", sans-serif;
}

._container {
    max-width: $contWidth;
    padding: 0px 15px;
    margin: 0 auto;
    @include borderCont;
}

.btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 25px;
}



header,
footer {
	color: $fontsHeaderColorLight;
}


