<div class="logo">
    <a class="logo__link" href="#">
        <img class="logo__icon" src="./img/icon_toxin.svg" alt="icon" />
        <img class="logo__title" src="./img/text_toxin.svg" alt="title" />
    </a>
    <!-- <a class="logo__link">
        <span class="logo__icon"></span>
        <span class="logo__title"></span>
    </a> -->
</div>