<div class="logo">
    <a class="logo__link" href="#">
        <img class="logo__icon" src="./img/icon_toxin.svg" alt="icon" />
        <img class="logo__title" src="./img/text_toxin.svg" alt="title" />
    </a>
</div>