@mixin maxWidthInit992 {
    .init {
        margin-left: 0;
    
        &__sign-in,
        &__register {
            padding: 7px 15px;
            margin: 0px 0px 0px 10px;
        }
    }
}

@mixin maxWidthInit870 {
    .init {
        &__sign-in,
        &__register {
            display: none;
        }

        &__user {
            display: block;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            margin: 0px 0px 0px 20px;
        }
        // &__user {
        //     display: block;
        //     border-radius: 50%;
        //     width: 32px;
        //     height: 32px;
        //     background: url(./../img/user-circle.svg);
        //     margin: 0px 0px 0px 20px;
        // }
    }
}

@mixin maxWidthInit767 {
    .init {
        display: flex;
        align-items: center;
    }
    
}