<footer class="footer">
    <div class="footer__body">
        <div class="footer__columns">
            
        </div>
        <div class="footer__columns"></div>
        <div class="footer__columns"></div>
        <div class="footer__columns"></div>
        <div class="footer__columns"></div>
    </div>
</footer>