<header class="header">
    <div class="header__body _container">
<!-- =========================HEADER============================ -->
        <%- include('../partials/common/logo') %>
<!-- ===========================MENU============================ -->
        <%- include('../partials/header/menu') %>
<!-- ===========================INIT============================ -->
        <%- include('../partials/header/init') %>
<!-- =========================================================== -->
        <%- include('../partials/header/user') %>
<!-- =========================================================== -->
    </div>
</header>
