<!DOCTYPE html>
<html lang="en">
<%- include('ejs/template/head') %>
<body>
    <div class="wrapper">
        <%- include('ejs/template/header') %>
        
        <main class="main">
            <p>я основной контент</p>
            <!-- <div class="modal">
                <div class="modal__cont-380">
                    <h3 class="modal__title">Войти</h3>
                    <form class="modal__form form" action="#" >
                        <input class="form__input" tabindex="0" placeholder="Email" type="email">
                        <input class="form__input" tabindex="1" placeholder="Пароль" type="password">
                        <button class="form__buttom btn" tabindex="2">
                            войти
                            <span></span>
                        </button>
                    </form>
                    <div class="modal__create create">
                        <p class="create__question">Нет аккаунта на Toxin?</p>
                        <button class="create__buttom btn" tabindex="3">создать</button>
                    </div>
                </div>
            </div> -->
            
        </main>

        <%- include('ejs/template/footer') %>
    </div>
</body>
</html>
