@mixin borderCont {
    border: 1px solid red;
}

@mixin moncerratBold {
    font-family: Montserrat;
    font-weight: 700;
}

@mixin arrowHeader {
    position: relative;
    padding: 0px 21px 0px 0px;
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 9px;
        height: 1px;
        background: $fontsHeaderColorLight;
        transition: all .2s ease;
    }
    &::before {
        top: 8.5px;
        right: 9px;
        transform: rotate(45deg);
    }
    &::after {
        top: 8.5px;
        right: 4px;
        transform: rotate(-45deg);
    }
    &:hover {
        padding: 0px 20px 0px 0px;
        &::before,
        &::after {
            top: 8px;
            width: 9px;
            height: 2px;
            background: $fontsHeaderColorBlack;
        }
        &::before {
            right: 8px;
            transform: rotate(-45deg);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        }
        &::after {
            right: 3px;
            transform: rotate(45deg);
            box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
        }
    }
    
}

@mixin fzHeader {
    font-size: 0.875rem;
    line-height: 1.0625rem;
}

@mixin bgButtonTransparent {
    color: $colorsFontButton;
    border: 2px solid $fontColorButton;
    background: transparent;
    transition: all .5s ease;
    &:hover {
        border: 2px solid transparent;
        color: #fff;
        background: $colorsButton;
    }
}

@mixin bgButtonColor {
    color: #fff;
    background: $colorsButton;
}

@mixin buttonCards {
    padding: 15px 20px;
}



