// =============HEADER===============
.header {
	display: flex;
	align-items: center;
	min-height: 70px;
	background: #fff;
	// ===============HEADER BODY===============
	&__body {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
	}
	// ================HEADER LOGO================
	&__logo{
		
	}

	.logo {
		.logo();
	}
	
	// ===============HEADER MENU===============
	&__menu {
		flex: 1 1 auto;
	}
	.menu {
		&__navigation {
			.border_cont();
		}
		&__burger {
			display: none;
		}
		&__tab {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			&-block {
				position: relative;
				max-width: 100%;
				._icon-angle-down {
					font-size: 17px;
					margin: 1px 0px 0px 7px;
					transition: .3s;
				}
				.link {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					color: @fzcol-1;
					line-height: 17px;
					margin: 0px 0px 0px 0px;
					padding: 5px 5px 5px 5px;
					&_icon-angle-down {
						font-size: 17px;
						margin: 1px 0px 0px 7px;
						transition: .3s;
					}
				}
				.drop-menu {
					display: none;
					position: absolute;
					top: 30px;
					left: 0;
					min-width: 150px;
					&__item {
						display: block;
						text-align: center;
						padding: 5px 0;
						background: @blockbtn;
						&:first-child {
							padding-top: 10px;
						}
						&:last-child {
							padding-bottom: 10px;
						}
					}
			
					&__link {
						color: @fzcollight;
						font-weight: 400;
						&:hover {
							font-weight: 700;
						}
					}
				}
				&:hover, :active {
					font-weight: 700;
					._icon-angle-down {
						transform: rotate(180deg);
					}
					.drop-menu {
						display: block;
					}
				}
			}
		}
	}
// ================HEADER BUTTONS================
	&__buttons {
		display: flex;
		align-items: center;
		margin: 0px 0px 0px 14px;
	}
	.actions {
		&__button {
			.button {
				.button();
			}
		}
		&__actives {
			display: none;
			margin-left: 30px;
			position: relative;
			::before {
				content: '';
				position: absolute;
				width: 1px;
				height: 30px;
				left: -20px;
				top: -6px;
				background-color: #1F20411A;
			}
			a {
				color: @fzcol-1;
				.regular();
			}
		}
	}
}