/*======MIXINS======*/
.regular() {
	font-family: "Montserrat";
	font-weight: 400;
	line-height: 1.7rem;
}

.bold() {
	font-family: Montserrat;
	font-weight: 700;
	line-height: 1.7rem;
}

.border-button() {
	border: 3px solid @blockbtn;
	border-radius: 22px;
}

.border_cont() {
	border: 1px solid red;
}

.button() {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-size: @fzbtn;
	color: @blockbtn;
	font-weight: 700;
	background-color: transparent;
	.border-button();
	padding: 7px 17px 8px 17px;
	margin: 0 9px;
	&:hover {
		border: none;
		padding: 10px 20px 10px 20px;
		background: @linerGradient;
		color: #fff;
	}
}
.icons-font() {
	font-size: 23px;
	padding: 0px 9px 0px 9px;
	color: @iconcolor;
	&:hover {
		color: darken(@iconcolor, 10%);
	}
}
.burger() {
	// display: block;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 20px;
	& span,
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 10%;
		background: @color;
		transition: all 0.3s ease 0s;
	}
	& span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	&::before {
		top: 0;
	}
	&::after {
		bottom: 0;
	}
	&:hover {
		span {
			transform: scale(0);
		}
		&::before {
			top: 45%;
			transform: rotate(45deg);
		}
		&::after {
			bottom: 45%;
			transform: rotate(-45deg);
		}
	}
}

/*======VARS FONTS======*/

@fz14: 1.4rem;
@fzbtn: 1.2rem;

/*======VARS COLORS=====*/

@fzcol-1: rgba(31, 32, 65, 1);
@fzcollight: #fff;
@blockbtn: #BC9CFF;
@linerGradient: linear-gradient(180deg, #bd9eff 0%, #8BA4F9 100%);
@iconcolor: mix(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
@colorburger: #fff;
@color: #000;
// #1F20411A
/*=====BORDER RADIUS=====*/